{% include "header.html" %}

<style>

  .post-container {
    background-size: cover;
    background-position: center;
    color: #ffffff;
  }

  .post-container .col-lg-6 {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
  }


  .post-container h1 {
    font-size: 2.5rem;
  }

  .post-container p.lead {
    font-size: 1.25rem;
  }

  .post-container p.mb-0 a {
    color: #ffffff;
  }
</style>

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/wallpaper.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Jorick's Blog in Taiwan</h1>
          <span class="subheading">Alle avonturen op 1 plek</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<!-- Flash Messages -->
<div class="modal fade" id="flashModal" tabindex="-1" aria-labelledby="flashModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flashModalLabel">Notification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div>
    <h3 class="pb-4 mb-4   border-bottom">
        Meest Recente Post:
      </h3>
  </div>
  <!-- Headline Post -->
  {% if popular_posts[0]: %}
  <div class="post-container p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background-image: url('{{ popular_posts[0].img_url }}'); height: 250px;">
    <div class="col-lg-6 px-0">
      <h1 class="mb-0 text-white">{{ popular_posts[0].title }}</h1>
      <p class="lead my-3 text-white">{{ popular_posts[0].subtitle }}</p>
      <p class="lead mb-0"><a href="{{ url_for('show_post', post_id=popular_posts[0].blogpost_id) }}" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
  {% endif %}

  <div>
    <h3 class="pb-4 mb-4 border-bottom">
        Alle Posts:
      </h3>
  </div>
  <!-- Other Posts -->
  <div class="row mb-2">
    {% for post in popular_posts %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <a href="{{ url_for('show_post', post_id=post.blogpost_id) }}">
                <h3 class="mb-0">{{ post.title }}
                {% if current_user.id == 1: %}
                    <a href="{{url_for('delete_post', post_id=post.blogpost_id) }}">✘</a>
                {% endif %}
                </h3>
                <div class="mb-1 text-body-secondary">{{ post.unload_date }}</div>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block" style="width: 100px; height: 150px; overflow: hidden;">
              <img src="{{ post.img_url }}" alt="Thumbnail Image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
          </div>
        </div>
    {% endfor %}
   </div>

      {% if isLogin %}
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="{{ url_for('add_new_post') }}">Create Post</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% include "footer.html" %}
<script>
    // Automatically show flash messages in a modal
    document.addEventListener('DOMContentLoaded', function () {
    const flashMessages = JSON.parse('{{ get_flashed_messages()|tojson }}');
    if (flashMessages.length > 0) {
      const modalBodyContent = document.getElementById('modalBodyContent');
      modalBodyContent.innerHTML = '';
      flashMessages.forEach(message => {
        const p = document.createElement('p');
        p.textContent = message;
        modalBodyContent.appendChild(p);
      });
      const flashModal = new bootstrap.Modal(document.getElementById('flashModal'));
      flashModal.show();
    }
  });
</script>